# URL to your local Webmaker Login server
LOGIN_URL=http://localhost:3000

# URL to your local Webmaker Login server (including basic auth credentials)
AUTH_LOGIN_URL=http://testuser:password@localhost:3000

# Port to bind example server to
PORT=9006

# Secret to encrypt login cookie with
SECRET_KEY="dummy secret value"

# Cookie domain
COOKIE_DOMAIN=""

# Force SSL?
FORCE_SSL="false"
