---
makeid: {{ makeid }}
---
<article class="make sample-make">
  <a href="{{ url }}">
    <img src="{{ thumbnail }}" alt="{{ title }}" class="make-thumbnail"/>
  </a>

  <div class="gallery-info">
    <h3>
      <a class="title" href="{{ url }}">
        {{ title }}
      </a>
    </h3>

    <div class="make-meta">
      <img class="data-avatar pull-left" alt="{{ username }}" src="generateGravatar({{ emailHash }})" data-email-hash="{{ emailHash }}"/>

      <p>
        Created by
        <a class="author" href="https://webmaker.org/u/{{ username }}">
          @{{ username }}
        </a>
        <time class="date" datetime="{{ createdAt }}"></time>,
        {{ likes }}.length likeNoun({{likes}})
      </p>
      <p>{{ description }}</p>
    </div>
    <div class="tag-container">
      <span class="fa fa-tags"></span>
      {{ #tags }}
      <a class="tag" href="https://webmaker.org/t/{{ . }}">{{ . }}</a>
      {{ /tags }}
    </div>
    <div class="make-actions btn-container">
      <a class="btn btn-primary" href="{{ remixurl }}">
        <span class="fa fa-code-fork"></span>Remix
      </a>
      <a class="btn btn-primary" href="{{ url }}">Details</a>
    </div>
  </div>
</article>
