html, body {
  font-size: 62.5%;
  font-family: 'Open Sans Light', sans-serif;
}

body {
  font-size: 1.6rem;
}

strong {
  font-family: 'Open Sans';
}

.navbar-header {
  height: 100px;
}

.logo {
  width: 230px;
}

.wm-footer {
  background: #013E5F;
}

.jumbotron {
  padding-top: 50px;
}

.jumbotron h1, h2 {
  font-size: 5rem;
  font-weight: lighter;
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

.including-you {
  white-space: nowrap;
  font-weight: 600;
  font-size: 5rem;
}

h3 {
  font-size: 3rem;
  font-weight: lighter;
  line-height: 1.3;
  padding: 2px 0;
  width: 675px;
  margin: 0 auto 20px;
  text-align: center;
}

.buttonBottom {
  padding-top: 10px;
}

.form-section, button {
  width: 345px;
  margin: 0 auto;
}

input.input-left {
  margin: 9px 7px 0 0;
}

.navbar.navbar-tertiary {
  background: #013E5F;
  font-weight: normal;
  font-size: 13px;
  margin: 90px 0 0 0;
}
.navbar.navbar-tertiary .nav > li > a {
  color: rgba(255, 255, 255, 0.8);
}
.navbar.navbar-tertiary .nav > li > a:hover {
  background: none;
  color: white;
}
.navbar.navbar-tertiary .nav > li.active > a {
  color: white;
}
.navbar.navbar-tertiary .nav .open > a,
.navbar.navbar-tertiary .nav .open > a:hover,
.navbar.navbar-tertiary .nav .open > a:focus {
  background-color: #1a1aff;
}

@media (max-width: 650px) {
  h3 {
    font-size: 3rem;
    line-height: 1.2;
    padding: 2px 0;
    width: 275px;
    margin: 0 auto;
    text-align: left;
  }

  .logo {
    width: 190px;
  }

  .jumbotron h1, h2 {
    font-size: 3rem;
    font-weight: lighter;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    text-align: left;
  }

  .including-you {
    white-space: nowrap;
    font-weight: 900;
    font-size: 3rem;
  }

  input[type="radio"], input[type="checkbox"] {
    zoom: 2;
    -moz-transform: scale(2);
  }
}

@media (max-width: 375px) {
  .logo {
    width: 140px;
  }
  .jumbotron h1, h2 {
    line-height: 1.2;
  }
  .form-section, button {
    width: 295px;
  }

  input[type="radio"], input[type="checkbox"] {
    zoom: 1.5;
    -moz-transform: scale(1.5);
  }
}
