#signup-page-info {
  background: @brand-info;
  &.success {
    background: @darkgreen;
    a {
      color: @white;
      opacity: 0.7;
      text-decoration: underline;
      &:hover { opacity: 1 }
    }
  }
  color: @white;
  font-weight: 200;
  padding: 2.5rem 0;
  text-align: center;
  @media (min-width: @screen-sm-min) {
    padding: 5rem 0;
    text-align: left;
  }
  a {
    color: @white;
    text-decoration: none;
  }
  b {
    font-weight: 400;
  }
  h1 {
    line-height: 1;
    @media (min-width: @screen-sm-min) {
      font-size: 6rem;
    }
  }

  h5 {
    margin-top: 3rem;
    @media screen and (min-width: @screen-lg-min) {
      margin-top: 0.5rem;
    }
  }
  p {
    margin: 2rem 0;
  }
  .btn {
    font-size: 1.8rem;
    padding-bottom: 1.8rem;
    padding-top: 1.8rem;
    width: 100%;
    @media screen and (min-width: @screen-xs-min) {
      padding: 1.8rem 6.5rem;
      display: block;
      margin: 0 auto;
      width: auto;
    }
    @media screen and (min-width: @screen-sm-min) {
      padding: 1.8rem 4.3rem;
      display: inline-block;
    }
    @media screen and (min-width: @screen-md-min) {
    }
  }
  #create-account-button {
    @media screen and (min-width: @screen-sm-min) {
      margin-right: 4rem;
    }
  }
  .log-in-link {
    color: @white;
    font-weight: 300;
  }
  form {
    &.pledge {
      input[type="checkbox"],
      input[type="radio"] {
        margin-right: 1.5rem;
      }
      input[type="email"] {
        padding: 21px 15px;
        border: 0;
        height: 64px;
      }
      .help-block {
        color: #FFF;
        font-size: 1.8rem;
      }
      .input-group-btn {
        @media (max-width: @screen-sm-min) {
          width: auto;
        }
      }
    }
  }
  &.teach {
    h3 {
      margin-bottom: 20px;
    }
    ul, ol {
      padding-left: 40px;
      li {
        margin-bottom: 1rem;
      }
    }
    ul {
      list-style-type: disc;
    }
  }
  .wm-badge {
    h5 {
      text-align: center;
      margin-top: 20px;
    }
  }
}

.signup-list {
  h1 {
    @media (max-width: @screen-sm-min) {
      font-size: 2.5rem;
    }
  }
  .list-info-header {
    padding-bottom: 1.5rem;
    text-align: left;
  }
  ul {
    padding-left: 0;
  }
  li {
    list-style: none;
    margin-bottom: 0;
    padding: 1.5rem 1.5rem 1.5rem 4rem;
    position: relative;
    text-align: left;
    .fa {
      font-size: 2.6rem;
      left: 0.5rem;
      position: absolute;
    }
    &:nth-child(odd) {
      background: darken(@white, 2%);
      border-bottom: 0.1rem solid darken(@white, 11%);
      border-top: 0.1rem solid darken(@white, 11%);
    }
  }
  strong {
    margin-left: 0.8rem;
  }
}

.lightson {
  figure {
    max-width: 100%;
    @media screen and  (min-width: @screen-xs-min) {
      max-width: 50%;
      margin: 0 0 1.6rem 1.6rem;
    }
    @media screen and  (min-width: @screen-sm-min) {
      max-width: 33%;
    }
  }
}

.hour-of-code {
  figure {
    max-width: 100%;
    @media screen and  (min-width: @screen-xs-min) {
      max-width: 50%;
      margin: 0px 0px 1.6rem 4.6rem;
    }
    @media screen and  (min-width: @screen-sm-min) {
      max-width: 29%;
    }
  }
  .logo img{
    margin-top: 5.5rem;
    height: 200px;
    width: 200px;
  }
  .btn {
    margin: 3rem 0;
    padding: 1.4rem 3rem;
    font-size: 1.6rem;
    width: 100%;
    @media (min-width: @screen-sm-min){
      margin: 2rem 0;
      padding: 1.7rem 6rem;
      font-size: 2rem;
      width: auto;
    }
  }
}
