.start-page {
  height: auto;
  min-height: 100%;
  text-rendering: optimizeLegibility;
  color: #506B7B;

  [data-href]:hover {
    cursor: pointer;
  }

  .container {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .step-indicator {
    margin: auto;
    display: block;
  }

  h1 {
    text-align: center;
    font-size: 4rem;
    font-weight: 400;
    letter-spacing: -0.03rem;
    line-height: 1.4em;
  }

  p.subheadline {
    margin: 0 0 1rem 1.5rem;
    font-size: 1.6rem;
    font-weight: 300;
    text-align: center;
  }

  fieldset[role="textbox"] {
    padding: 0 0 5%;
  }

  form {
    margin: 2.5rem 0 0 0;
    #submit-event {
      margin-top: 1rem;
    }
  }

  label, .event-summary > h5 {
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    display: block;
  }

  .event-summary > h5 {
    margin: 1.5rem 0 0.1rem 0;
    color: rgba(255,255,255,0.6);
  }

  select {
    // color: rgba(0,0,0,0.4);
    option {
      color: #333;
    }
  }

  .error {
    border-color: @brand-danger;
    &:focus, &:active {
      border-color: @brand-danger;
    }
  }

  .form-control {
    height: 4rem;
  }

  .datepicker {
    position: relative;
    &:after {
      .icon(@fa-calendar);
      color: @black;
      font-size: 1.6rem;
      position: absolute;
      top: 3.4rem;
      right: 1rem;
    }
  }

  .wizard-container {
    .w-inner {
      padding: 2.5rem 4rem 2rem 4rem;
      margin-top: 3rem;
      border: 1px solid #BDC3C7;
      @media screen and (min-width: @screen-md-min) {
        padding: 3rem 2rem 2rem 2rem;
      }
    }
  }

  .step-section {
    display: none;
    h6 {
      text-transform: uppercase;
      font-size: 1.4rem;
      font-weight: 900;
    }
    .btn-info {
      width: 100%;
      padding: 1.5rem 2rem;
      margin-top: 2rem;
      font-size: 1.8rem;
      font-weight: 600;
    }
    .event {
      h2, .fa {
        display: block;
        &.center {
          text-align: center;
        }
      }
      p {
        font-size: 1.4rem;
        line-height: 2.4rem;
      }
      ol {
        list-style: none;
        margin-top: 1.5rem;
        padding: 0;
        font-size: 1.4rem;
        .fa {
          display: inline-block;
          margin: 0 1rem 0 0;
          text-align: left;
        }
        li {
          margin-bottom: 0.5rem;
          &:nth-child(1), &:nth-child(3) {
            margin-left: 0.2rem;
          }
        }
      }
      .selected {
        margin: 2rem 0 0 0;
      }
      .event-title {
        display: inline-block;
        margin: 0.5rem 0.5rem 0 0;
      }
    }
  }

  .steps {
    list-style: none;
    padding: 0;
  }

  .event-summary {
    background: #E9F0F5;
    margin-top: 2.5rem;
    padding: 2rem;

    .highlighted {
      background: #27AAE1;
      padding: 2rem;
      margin: -2rem -2rem 2rem -2rem;
      color: #fff;

      h5 {
        color: #fff;
        text-transform: uppercase;
      }

      .btn-info {
        margin-top: 1rem;
        background: #fff;
        color: #506B7B;
        text-decoration: underline;
      }
    }

    .sharing {
      margin: 2rem 0 0 0;

      a {
        color: #fff;
        margin-right: 2rem;
        font-size: 2rem;

        .underline-on-hover {
          font-style: normal;
        }

        &:hover, &:active {
          text-decoration: none;

          .underline-on-hover {
            text-decoration: underline;
          }
        }
      }
    }

    h5 {
      color: #7CA8BF;
    }

    p {
      font-size: 2.4rem;
    }

    span {
      display: block;
      margin-top: 1rem;
      font-size: 1.4rem;
    }
  }
}

.dropdown-menu.bootstrap-datetimepicker-widget {
  padding: 2rem;
  li {
    margin-bottom: 0;
  }

  .day {
    cursor: pointer;
    &.active {
      background: @blue;
      color: @white;
    }
  }
}

#sign-in-form {
  .btn-info {
    margin-top: 0.5rem;
  }
}

#step-1 {
  display: none;
}
.hidden {
  display: none;
}
