.start-page {
  height: auto;
  min-height: 100%;
  background: @grey;
  text-rendering: optimizeLegibility;
  color: white;

  .container {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  h1 {
    margin: 2rem 0 0.5rem 1.5rem;
    font-size: 6rem;
    font-weight: 300;
    letter-spacing: -0.03rem;
  }

  p.subheadline {
    margin: 0 0 1rem 1.5rem;
    max-width: 90rem;
    font-size: 1.6rem;
    font-weight: 300;
  }

  fieldset[role="textbox"] {
    padding: 0 0 5%;
  }

  form {
    margin: 2.5rem 0 0 0;
    #submit-event {
      margin-top: 1rem;
    }
  }

  label, .event-summary > h5 {
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    display: block;
  }

  .event-summary > h5 {
    margin: 1.5rem 0 0.1rem 0;
    color: rgba(255,255,255,0.6);
  }

  select {
    // color: rgba(0,0,0,0.4);
    option {
      color: #333;
    }
  }

  .error {
    border-color: @brand-danger;
    &:focus, &:active {
      border-color: @brand-danger;
    }
  }

  .form-control {
    height: 4rem;
  }

  .datepicker {
    position: relative;
    &:after {
      .icon(@fa-calendar);
      color: @black;
      font-size: 1.6rem;
      position: absolute;
      top: 3.4rem;
      right: 1rem;
    }
  }

  .wizard-container {
    .w-inner {
      background: @darkgrey;
      padding: 2.5rem 4rem 2rem 4rem;
      margin-top: 3rem;
      @media screen and (min-width: @screen-md-min) {
        padding: 3rem 2rem 2rem 2rem;
      }
    }
  }

  .step-section {
    display: none;
    h6 {
      margin: 5rem 0 0 1.5rem;
      font-size: 1.8rem;
      font-weight: 600;
      text-transform: uppercase;
      &.selected {

        margin: -3em -4rem 2rem -4rem;
        padding: 1rem;
        text-align: center;
        font-size: 1.4rem;
        font-weight: 400;
        text-transform: none;
        background: @lightgrey;
        color: @darkgrey;
        @media screen and (min-width: @screen-md-min) {
          margin: -3rem -2rem 2rem -2rem;
        }
      }
    }
    .btn-info {
      width: 100%;
      padding: 1.5rem 2rem;
      margin-top: 2rem;
      font-size: 1.8rem;
      font-weight: 600;
    }
    .event {
      background: @grey;
      h2, .fa {
        display: block;
        text-align: center;
      }
      p {
        font-size: 1.4rem;
        line-height: 2.4rem;
      }
      ol {
        list-style: none;
        margin-top: 1.5rem;
        padding: 0;
        font-size: 1.4rem;
        .fa {
          display: inline-block;
          margin: 0 1rem 0 0;
          text-align: left;
        }
        li {
          margin-bottom: 0.5rem;
          &:nth-child(1), &:nth-child(3) {
            margin-left: 0.2rem;
          }
        }
      }
    }
  }

  .steps {
    list-style: none;
    padding: 0;
  }

  .event-summary {
    margin-top: 2.5rem;
    p {
      font-size: 2.4rem;
    }
    .btn-info {
      margin-top: 1rem;
    }
    span {
      display: block;
      margin-top: 1rem;
      font-size: 1.4rem;
    }
  }
}

.dropdown-menu.bootstrap-datetimepicker-widget {
  padding: 2rem;
  li {
    margin-bottom: 0;
  }

  .day {
    cursor: pointer;
    &.active {
      background: @blue;
      color: @white;
    }
  }
}

#sign-in-form {
  .btn-info {
    margin-top: 0.5rem;
  }
}

#step-1 {
  display: block;
}
.hidden {
  display: none;
}
