/*
* Colors
*/
@mozilla-sand: #f5f1e8;
@mozilla-red: #c13832;
@mozilla-charcoal: #484848;
@sandstone-link: #0095DD;
@sandstone-hover: #00539F;
@resources-blue: #01527d;

// @lightgrey
@grey: @literacy-color-sharing;
@darkgrey: @literacy-color-collaborating;

// requires bootstrap!
@black: @gray-dark;

/*
* Fonts
*/
@primary-font: 'Open Sans', Helvetica, sans-serif;


/*
* Viewport improvements
*/
@standard-def: ~'screen and (-webkit-max-device-pixel-ratio: 1.49), (max-resolution: 143.9dpi)';
@retina: ~'screen and (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)';
