/*
* Colors
*/
@mozillaSand: #f5f1e8;
@mozillaRed: #c13832;
@mozillaCharcoal: #484848;
@sandstoneLink: #0095DD;
@sandstoneHover: #00539F;
@resources-blue: #01527d;

// requires bootstrap!
@black: @gray-dark;
