<!doctype html>
<html lang="en" itemscope itemtype="https://schema.org/Article">
<head>
  <script src="//cdn.optimizely.com/js/206878104.js"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">

<!-- *** social meta *** -->
  <!-- facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:image" content="https://welcome.webmaker.org/resources/img/logo-og.png" />
  <meta property="og:image:width" content="1400" />
  <meta property="og:image:height" content="1400" />
  <meta property="og:site_name" content="Welcome to Webmaker" />
  <meta property="og:determiner" content="" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:locale:alternate" content="en_GB" />
  <meta property="og:title" content="{{ title }}" />
  <meta property="og:description" content="{{ description }}" />

  <!-- twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@webmaker"/>
  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:description" content="{{ description }}"/>
  <meta name="twitter:image:src" content="https://welcome.webmaker.org/img/logo-og.png">

  <!-- google+ -->
  <meta itemprop="name" content="{{ title }}">
  <meta itemprop="description" content="{{ description }}">
  <meta itemprop="image" content="https://welcome.webmaker.org/img/logo-og.png">
<!-- /*** social meta *** -->

  <link rel="stylesheet" href="/resources/compiled/core.css"/>

  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600"/>

  <script src="https://stuff.webmaker.org/webmaker-rid/webmaker-rid.js" async></script>

  <!-- Google analytics -->
  <script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-35433268-12', 'auto');
    ga('send', 'pageview');
  </script>
</head>
<body class="makersteps-landing no-logo">
<nav class="navbar navbar-default navbar-webmaker">
  <div class="container">
    <figure class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
      <a href="https://webmaker.org/en-US" class="logo webmaker-logo"><img src="/resources/img/logo.png"></a>
    </figure>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <div class="mwc-top">
        {{ contents }}
      </div>
    </div>
  </div>
  <div class="row makersteps-list">
    <div class="col-xs-12 col-sm-5 col-md-4 col-md-offset-1 col-lg-3"
         id="make-gallery" data-make-id="{{ makeid }}"></div>
    <div class="col-xs-12 col-sm-7 col-md-6 col-lg-7">
      <h3 class="get-started">Get started</h3>
      <ol>
        <li>
          <figure>
            <figcaption class="col-xs-12">
              <p>
                <strong>Click the &ldquo;remix&rdquo; button.</strong> This will
                open Thimble. You&rsquo;ll see this sample make we created to
                get you started.
              </p>
            </figcaption>
            <div class="col-xs-12">
              <a data-remix-link="{{ makeid }}" href="#">
                <noscript>
                  <img src="/resources/img/makersteps/graphic_remix.png" alt=""/>
                </noscript>
                <img src="#" alt="" width="245" height="129"
                     data-src-1x="/resources/img/makersteps/graphic_remix.png"
                     data-src-2x="/resources/img/makersteps/graphic_remix@2x.png"/>
              </a>
            </div>
          </figure>
        </li>
        <li>
          <figure>
            <figcaption class="col-xs-12">
              <p>
                <strong>Follow the steps in the tutorial.</strong> The tutorial
                will walk you through how to make changes to the code.
              </p>
            </figcaption>
            <div class="col-xs-12">
              <noscript>
                <img alt="" src="/resources/img/makersteps/graphic_thimble.png"/>
              </noscript>
              <img src="#" alt="" width="245" height="176"
                   data-src-1x="/resources/img/makersteps/graphic_thimble.png"
                   data-src-2x="/resources/img/makersteps/graphic_thimble@2x.png"/>
            </div>
          </figure>
        </li>
        <li>
          <figure>
            <figcaption class="col-xs-12">
              <p>
                <strong>Done!</strong> Once you&rsquo;re finished, you can save
                your work and share it. Log in to Webmaker and hit
                &ldquo;Save.&rdquo;
              </p>
            </figcaption>
          </figure>
          <div>
          </div>
        </li>
      </ol>
    </div>
  </div>
</div>

<!-- build:js /resources/js/makersteps-no-logo.min.js -->
<script type="text/javascript" src="/resources/vendors/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/resources/vendors/mustache/mustache.js"></script>
<script type="text/javascript" src="/resources/vendors/makeapi-client/src/make-api.js"></script>
<script type="text/javascript" src="/resources/vendors/webmaker-analytics/analytics.js"></script>
<script type="text/javascript" src="/resources/vendors/webmaker-login-ux/dist/webmakerLogin.js"></script>
<script type="text/javascript" src="/resources/js/core.js"></script>
<script type="text/javascript" src="/resources/js/login.js"></script>
<script type="text/javascript" src="/resources/js/find-a-make.js"></script>
<script type="text/javascript" src="/resources/js/mad-libs.js"></script>
<!-- endbuild -->

</body>
</html>
