<!doctype html>
<html lang="en">
<head>
  <script src="//cdn.optimizely.com/js/206878104.js"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>{{ title }}</title>

  <link rel="stylesheet" href="/resources/compiled/core.css"/>

  <link rel="stylesheet" href="//mozorg.cdn.mozilla.net/media/css/tabzilla-min.css" />
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600"/>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-35433268-12']);
    _gaq.push(['_setDomainName', 'webmaker.org']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>

<body class="sandstone-landing">
  <!-- Tabzilla here -->
  <a href="/en-US/" id="tabzilla" data-infobar="translation">Mozilla</a>

  {{ contents }}

  <!-- Tabzilla script file -->
  <script src="//mozorg.cdn.mozilla.net/tabzilla/tabzilla.js"></script>

  <!-- Persona -->
  <script type="text/javascript" src="https://login.persona.org/include.js"></script>

  <!-- build:js /resources/js/sandstone.js -->
  <script type="text/javascript" src="/resources/vendors/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/resources/vendors/cookie-js/cookie.js"></script>
  <script type="text/javascript" src="/resources/vendors/eventEmitter/EventEmitter.js"></script>
  <script type="text/javascript" src="/resources/vendors/webmaker-analytics/analytics.js"></script>
  <script type="text/javascript" src="/resources/vendors/webmaker-auth-client/webmaker-auth-client.js"></script>
  <script type="text/javascript" src="/resources/js/core.js"></script>
  <script type="text/javascript" src="/resources/js/login.js"></script>
  <!-- endbuild -->

</body>
</html>
