<!doctype html>
<html lang="en">
<head>
  <script src="//cdn.optimizely.com/js/206878104.js"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>{{ title }}</title>

  <link rel="stylesheet" href="/resources/compiled/core.css"/>

  <link rel="stylesheet" href="//mozorg.cdn.mozilla.net/media/css/tabzilla-min.css" />
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600"/>
  <script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-35433268-12', 'auto');
    ga('send', 'pageview');
  </script>
</head>

<body class="sandstone-landing">
  <!-- Tabzilla here -->
  <a href="/en-US/" id="tabzilla" data-infobar="translation">Mozilla</a>

  {{ contents }}

  <!-- Tabzilla script file -->
  <script src="//mozorg.cdn.mozilla.net/tabzilla/tabzilla.js"></script>

  <!-- Persona -->
  <script type="text/javascript" src="https://login.persona.org/include.js"></script>

  <!-- build:js /resources/js/sandstone.js -->
  <script type="text/javascript" src="/resources/vendors/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/resources/vendors/webmaker-analytics/analytics.js"></script>
  <script type="text/javascript" src="/resources/vendors/webmaker-login-ux/dist/webmakerLogin.js"></script>
  <script type="text/javascript" src="/resources/js/core.js"></script>
  <script type="text/javascript" src="/resources/js/login.js"></script>
  <!-- endbuild -->

</body>
</html>
