<!doctype html>
<html lang="en">
<head>
  <script src="//cdn.optimizely.com/js/206878104.js"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>

  <!-- build:css /resources/css/white.css -->
  <link rel="stylesheet" href="/resources/compiled/white.css"/>
  <!-- endbuild -->
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600"/>
  <script src="https://stuff.webmaker.org/webmaker-rid/webmaker-rid.js" async></script>
</head>

<body class="white-landing">
<nav>
  <div class="container">
    <figure class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
      <a href="https://webmaker.org/en-US" class="logo webmaker-logo"><img src="/resources/img/logo.png"></a>
    </figure>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      {{ contents }}
    </div>
  </div>
</div>

<!-- build:js /resources/js/white.min.js -->
<script type="text/javascript" src="/resources/vendors/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/resources/js/scripts.js"></script>
<!-- endbuild -->

<!-- Google analytics -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35433268-12']);
  _gaq.push(['_setDomainName', 'webmaker.org']);
  _gaq.push(['_trackPageview']);
  (function () {
    var ga = document.createElement('script');
    ga.type = 'text/javascript';
    ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
